<form class="form-add-post">
    <h2>Add New Portfolio</h2>
    <label for="title">Stack</label>
    <input type="text" name="title" class="add-post-title-input" required/>
    <!-- <div class="nickName error"></div> -->
    <label for="body">Skills</label>
    <textarea name="body" class="add-post-textarea" required></textarea>
    <!-- <div class="password error"></div> -->
    <button>Submit</button>
</form>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        // get the value
        const title = form.title.value;
        const body = form.body.value;

        try {
            const res = await fetch('/add-portfolio', {
                method: 'POST',
                body: JSON.stringify({ title, body }),
                headers: { 'Content-Type': 'application/json' }
            });
            const post = await res.json();
            // if (data.errors) {
            //     nickNameError.textContent = data.errors.nickName;
            //     emailError.textContent = data.errors.email;
            //     passwordError.textContent = data.errors.password;
            // }
            if (post.email) {
                location.assign(`/portfolio/${post.email}`);
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>