<form class="form-add-post">
    <h2>View / Edit Post</h2>
    <label for="title">Title</label>
    <input type="text" name="title" class="add-post-title-input" value="<%= data.title %>" required/>
    <label for="body">Content</label>
    <textarea name="body" class="add-post-textarea" required><%= data.body %></textarea>
    <!-- <div class="password error"></div> -->
    <button>Submit</button>
</form>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        // get the value
        const title = form.title.value;
        const body = form.body.value;

        try {
            const res = await fetch('/edit-portfolio/<%= data.id %>', {
                method: 'PUT',
                body: JSON.stringify({ title, body }),
                headers: { 'Content-Type': 'application/json' }
            });
            const { message } = await res.json();
            if (message == 'update succeed') {
                location.assign('/portfolio/<%= data.id %>');
            } else {
                alert(message);
                location.assign('/');
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>